.blue {
  color: rgba(255, 255, 0, 0.5);
  color: #00000000;
  color: rgb(0, 0, 0);
}

h1 {
  color: rgba(103, 255, 1, 0.856);
}

body {
  color: purple;
}

.box {
  height: 100px;
  width: 2rem;
  padding: 40px;
  margin: 80px;
  border: 10px solid rgb(85, 85, 85);
  background-color: red;
}
